*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Color Theme Swatches in RGBA */
/* .color-theme_screenshot-1-rgba { color: rgba(242, 73, 118, 1); }
.color-theme_screenshot-2-rgba { color: rgba(7, 53, 64, 1); }
.color-theme_screenshot-3-rgba { color: rgba(20, 139, 166, 1); }
.color-theme_screenshot-4-rgba { color: rgba(13, 217, 159, 1); }
.color-theme_screenshot-5-rgba { color: rgba(242, 192, 99, 1); } */

